.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* ----- styles for header block ----- */

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
}

.header__block_image{
    position: absolute;
    top: 148px;
    right: 30px;
    z-index: 1;
}

.header__block_main-illustration{
    width: 765px;
    height: 608px;
}

.header__block_square-pic{
    position: absolute;
    right: 0;
    top: 64px;
    background-color: #2F80ED;
    height: 568px;
    width: 568px;
    z-index: 0;
}

.header__block{
    display: flex;
    position: relative;
    padding-left: 64px;
    padding-top: 30px ;
}

.header__block_logo{
    height: 31px;
    width: 154px;
    z-index: 1;
}

.header__block_title{
    position: relative;
    right: 160px;
    top: 170px;
    z-index: 1;
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
}

.header__block_subtitle{
    position: absolute;
    left: 64px;
    top: 650px;
    z-index: 1;
    width: 388px;   
    height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.header__block_subtitle-link{
    text-decoration: none;
    color: #2F80ED ;
}

/* ----- styles for description block ----- */

.description{
    display: flex;
    flex-direction: horizontal;
    padding-bottom: 100px;
    padding-top: 100px;
}

.description__main_text{
    display: flex;
    position: relative;
    flex-direction: column;
    left: 150px;
    min-width: 609px;
    width: 65%;   
}

.description__brief{
    color: #2F80ED;
    position: relative;
    left: 150px;
    right: 250px;
    padding-top: 30px;
    padding-right: 30px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    width: 175px;
}

.description__main_text_paragraph-one{
    margin-bottom: 30px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.description__main_text_paragraph-two{
    line-height: 34px;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: normal;
}

.description__main_text_paragraph-two-subtitle{
    font-weight: bold;
}

.description__main_text_paragraph-three{
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

/* ----- styles for digits block ----- */

.digits{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    justify-content: center;
    margin: auto;
}

.digits__title{
    margin: auto;
    width: 60%;
    margin-bottom: 20px;
    text-align: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
}

.digits__subtitle{
    margin: auto;
    width: 60%;
    margin-bottom: 60px;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.digits__table{
    display: flex;
    margin: auto;
    width: 1100px;
    position: relative;
    justify-content: center;
}

.table__row_header-one{
    text-align: left;
    line-height: 1.15;
    font-size: 24px;
    width: 220px;
}
.table__row_header-two{
    text-align: left;
    line-height: 1.15;
    font-size: 24px;
    width: 220px;
}

.table__row_data-one{
    vertical-align: top;
    line-height: 1.2;
    font-size: 18px;
    width: 220px;
    padding-top: 20px;
    padding-right: 20px;
}

.table__row_data-two{
    vertical-align: top;
    line-height: 1.2;
    font-size: 18px;
    width: 220px;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-right: 20px;
}

.table__row_data-three{
    vertical-align: top;
    line-height: 1.2;
    font-size: 18px;
    width: 220px;
    padding-top: 20px;
    padding-right: 20px;
}

.table__row_data-four{
    vertical-align: top;
    line-height: 1.2;
    font-size: 18px;
    width: 220px;
    padding-top: 20px;
    padding-right: 20px;
}

/* ----- styles for feyman block ----- */

.feynman{
    background-color: #F2F2F2;
    height: 100vh;
    min-height: 600px;
    max-height: 790px;
    padding-top: 100px;
}

.feynman__block_image{
    position: absolute;
    z-index: 0;
}

.feynman__block_image_ilustration{
    height: 637px;
    width: 867px;    
    padding-top: 153px;
    padding-left: 50px;
}

.feynman__block{
    display: flex;
    position: relative;
    z-index: 1;
}

.feynman__block_title{
    position: relative;
    left: 380px;
    bottom: 80px;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    width: 770px;
}

.feynman__block_subtitle{
    position: relative;
    top: 310px;
    right: 200px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}

.feynman__block_link{
    position: absolute;
    right: 48px;
    margin-top: 330px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

/* ----- styles for kaufman block ----- */

.kaufman{
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #1F1F1F;
    position: relative;
    overflow: hidden;
}

.kaufman__block{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 208px;    
    margin-top: 90px;
}

.kaufman__block_title_theme_dark{
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: white;
    z-index: 1;
    margin: auto;
}

.kaufman__block_subtitle_theme_dark{
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: white;
    z-index: 1;
    margin: auto;
    position: relative;
    top: 20px;
}

.kaufman__block_image_triangle{
    width: 877px;
    height: 877px;
    position: absolute;
    padding-bottom: 300px;
    right: -210px;
    z-index: 0;
} 

.kaufman__table_theme_dark{
    position: relative;
    width: 1100px;
    color: white;
    z-index: 1;
    margin: auto;
    margin-top: 80px;
}

.kaufman__table_row_header-one{
    text-align: left;
    line-height: 1.15;
    font-size: 24px;
    width: 200px;
}

.kaufman__table_row_header-two{
    text-align: left;
    line-height: 1.15;
    font-size: 24px;
    width: 200px;
    padding-top: 80px;
}

.kaufman__table_row_data-one{
    vertical-align: top;
    line-height: 1.2;
    font-size: 18px;
    width: 200px;
    padding-right: 40px;
}

.kaufman__table_row_data-two{
    line-height: 1.2;
    font-size: 18px;
    width: 200px;
    padding-right: 40px;
}

/* ----- styles for footer block ----- */

.footer{
    display: flex;
    min-height: 350px;
    max-height: 756px;
    background-color: #1F1F1F;
    flex-basis: 711px;

}

.footer__block{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 60px 64px 40px 64px;
    width: 90%;
}

.footer__block_logo{
    height: 35px;
    width: 183px;
}

.footer__block_copyright{
   position: relative;
}

.footer__block_copyright_author{
   position: relative;
   line-height: 25px;
   height: 25px;
   color:#4D4D4D;
   padding-bottom: 18px;
   top: 140px;
}

.footer__block_info{
    position: relative;
    left: 550px;
}

.footer__block_info_about{
    position: relative;
    margin-top: 0;
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    height: 35px;
}

.footer__block_info_home{
    position: relative;
    top: 20px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color:#4D4D4D;
}

.footer__block_info_concepts{
    position: relative;
    margin-top: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color:#4D4D4D;
}

.footer__block_info_mentors{
    position: relative;
    margin-top: 0;
    bottom: 16px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color:#4D4D4D;
}

.footer__block_social{
    position: relative;
    left: 700px;    
    padding-top: 0;
    height: 35px;

}

.footer__block_social_title{
    position: relative;
    margin-top: 0;
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    height: 35px;

}

.footer__block_social_facebook{
    position: relative;
    top: 20px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
}

.footer__block_social_instagram{
    position: relative;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
}

.footer__block_social_facebook_link{
    position: relative;
    left: 10px;
    color:#4D4D4D;
    text-decoration: none;
}

.footer__block_social_instagram_link{
    position: relative;
    left: 10px;
    color:#4D4D4D;
    text-decoration: none;
}

.footer__block_social_facebook_icon{
    height: 16px;
    width: 16px;
}

.footer__block_social_instagram_icon{
    position: relative;
    height: 16px;
    width: 16px;
 }